body {
  font-family: 'Oswald', sans-serif;
}

h1 {
  background-color: #5f9ea0;
  text-align: center;
  color: white;
  padding: 5px 0;
  border-radius: 0 0 2px 2px;
  margin-top: 10px;
}

.loginInput {
  border: 1px solid #ccc;
  padding: 5px;
  width: 300px;
  font-size: 17px;
}

.bookInput {
  border: 1px solid #ccc;
  padding: 5px;
  width: 500px;
  font-size: 17px;
}

input[type=submit] {
  border: 1px solid #ccc;
  margin-left: 15px;
  padding: 5px 15px;
  font-size: 16px;
}


.library {
  width: 750px;
  background-color:aliceblue;
  border-radius: 3px;
  padding: 0 15px 15px;
  margin: 10px auto;
  border: 1px solid #ddd;
}

.login {
  width: 450px;
  background-color:aliceblue;
  border-radius: 3px;
  padding: 0 15px 15px;
  margin: 10px auto;
  border: 1px solid #ddd;
}

.bookName {
  width: 230px;
  border: 1px solid;
  padding-left: 6px;
}

.bookStatus {
  width: 80px;
  border: 1px solid;
}

.selected {
  width: 130px;
  border: 1px solid;
}

.btn, input[type=button] {
  cursor: pointer;
  margin: 0.2em;
  padding: 0.2em 0.6em;
}

.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 17px;
  padding: 0 15px 15px;
  margin: 10px auto;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

.bookList {
  border: 1px solid;
  padding-left: 6px;
}
